<% if user_signed_in? %>
    <h1>You are logged in</h1>
<% else %>
<div class="hero-unit">
<h1>This is a home page text</h1>
<p>You found the home page for the
  <%= link_to "No Bull Design School", "http://nobulldesignschool.com" %> website

</p>
<p>

  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>
<% end %>

